server
{
	serverName			localhost_1
	listen				8080
	host				127.0.0.1
	clientMaxBodySize 	1024
	root 				./webSite index.html
	errorPages
	{ 
		404 ./webSite/errorPages/notFound.html
		500 ./webSite/errorPages/serverError.html
	}
	location
	{
		root			/ index.html
		allowMethods	GET POST
		autoindex		on
	}
	location
	{
		root  			/webPages/
		allowMethods	GET POST
		autoindex		on
	}
    location
	{
		root  			/delete/
		allowMethods	DELETE
		autoindex		on
	}
	location
	{
		root			/cgi-bin/ index.html
		allowMethods	GET POST
		autoindex		off
	}
	location
	{
		root			/redir/
		return 			301 http://google.com
	}
}